:root{
    --main-bg-color: #911212;
    --normal-margin: 1rem;
    --heading-size: 2rem;
    --data-size: 1.3rem;
}

body{
    font-family: "Arimo";
    background-color: rgb(218, 218, 56);
}
header {
    background-color: var(--main-bg-color);
    color: white;
    width: 100%;
}
header h1{
    font-size: var(--heading-size);
    text-align: center;
    padding: 2rem 0 2rem 0;
    margin: 0 auto;
}
main{
    display: grid;
    grid-template-columns: auto;
}
.hero{
    margin: 0 auto;
    width: 100%;
}
.hero img{
    width: 100%;
    height: auto;
}
footer {
    background-color: var(--main-bg-color);
    color: white;
    text-align: center;
    width: 100%;
    padding: 2rem 0 2rem 0;
    margin-top: 0;
    font-size: var(--data-size);
}
.data, .weather{
    display: block;
    background-color: black;
    margin: 0 auto;
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: var(--normal-margin);
}
.data-heading{
    font-size: var(--heading-size);
    padding: 1rem 1rem 1.25rem 1rem;
}
.data, .weather p{
    font-size: var(--data-size);
}
.weather-heading{
    font-size: var(--heading-size);
    padding: 1rem 1rem 1.5rem 1rem;
}
.weather-icon{
    display: block;
    margin: 0 auto;
    width: 9rem;
    height: 9rem;
}
