:root{
    --normal-font: 1rem;
}
header{
    background: #3f5479;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: white;
}
body {
    font-family: 'Arimo';
    margin: 0 auto;
}

form{
    margin-top: 1rem;
    background-color: #b1caf5;
}
legend{
    padding: .5rem .5rem 0 .5rem;
    font-size: 1.125rem;
}
select, input[type='date']{
    height: 44px;
    width: 96%;
    max-width: 460px;
    font-size: var(--normal-font);
    margin: .5rem;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
label{
    display: block;
}
.rating-group{
    padding-bottom: 1rem;
    margin-left: .25rem;
}
input[type='radio']{
    display: inline-block;
    margin-right: .25rem;
    height: 20px;
    width: 20px;
}
input[type="checkbox"]{
    margin-right: 1rem;
    height: 20px;
    width: 20px;
}
.checkbox{
    padding-bottom: 1rem;
    margin-left: .25rem;
}
textarea{
  height: 10rem;
  width: 96%;
  max-width: 460px;
  font-size: var(--normal-font);
  margin: .5rem;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
input[type='text']{
  height: 44px;
  width: 96%;
  max-width: 460px;
  font-size: var(--normal-font);
  margin: .5rem;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
input[type='submit']{
    width: 96%;
    max-width: 460px;
    height: 44px;
    margin: .5rem;
    font-size: 1.5rem;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: .5rem;
}
footer {
    background-color:#3f5479;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

@media screen and (min-width: 480px){
    main{
        display: block;
    }
    header{
        background: #3f5479;
        text-align: center;
        font-size: 1.5rem;
        padding: 1.5rem;
        color: white;
    }
    footer{
        margin: 0 auto;
        margin-top: 1rem;
    }
}
