body {
    font-family: 'Arimo';
    margin: 0 auto;
}
header {
    display: block;
    background: gray;
    color: white;
    margin: 0 auto;
}
header h1{
    margin: 0;
    padding-left: 1rem;
    padding-top: 1rem;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 100%;
    max-width: 95vw;
}
main h1{
    text-align: center;
}
figure{
    margin: 0 auto;
}
figure img{
    display: block;
    padding-top: 1rem;
    margin: 0 auto;
}
figcaption{
    text-align: center;
    padding-top: .5rem;
}
footer {
    background-color: gray;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

nav {
	background-color:  gray;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
    padding-left: 0;
}

nav a {
	display: none;
	color: white;
    align-items: center;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	background-color: yellow;
	color: black;
}

/* buttons*/

.open li {
	display: flex;
    justify-content: center;
	width: 100%;
}
.open li a {
	display: block;
}
#menu{
    display: block;
	font-size: 1rem;
	border: 2px solid rgba(0,0,0,.3);
	padding: 2% 2% 2%;
	background-color: aliceblue;
    color: #184477;
 	position: absolute;
	right: 1rem;
	top: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1.5px 15px black;
}
#menu::before {
	content: '☰';
}

#menu.open::before {
	content: '❌';
}